fastapi
uvicorn[standard]
pydantic
python-dotenv
pydantic-settings

# LangChain and related dependencies
langchain
langgraph
langchain-openai
langchain_community
tavily-python
langchainhub # For pulling prompts if needed 
langchain-google-genai
beautifulsoup4
google-genai

# Add Weaviate client
weaviate-client>=4.0.0,<5.0.0